/.vsconfig
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor-firstpass.csproj
/Assembly-CSharp-firstpass.csproj
/Parabox.CSG.csproj
/Parabox.CSG.Demo.csproj
/Test.sln
/UserSettings
/Temp
/obj
/Logs
/Library
/.vs
